:root {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    
    --rows: 200;
    --cols: 100;

    --border-radius: 6px;
    --menu-primary: white;
    --menu-background: rgba(128, 128, 128, 0.781);
    --background: rgb(149, 149, 149);
    /* --alive-color is both the color of the cells & menu accent color */
    --alive-color: rgb(214, 142, 7);
    --shadow-color: rgb(123, 123, 123);
}

body {
    margin: inherit;
}

.board {
    margin: 0px;
    background-color: var(--background);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: repeat(var(--rows), 1fr) / repeat(var(--cols), 1fr);
    gap: 1px;
}

.alive {
    background-color: var(--alive-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--menu-primary);
}

.resizeMenu {
    bottom: 30vh;
    position: absolute;

    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;

    /* next two lines center */
    left: calc(100vw - 95px);

    background-color: var(--menu-background);
    border: 3px solid var(--menu-primary);
    border-radius: calc(var(--border-radius) * 2);

    box-shadow: 0px 0px 15px var(--shadow-color);
}

.resizeMenu.open{
    transform: translateX(-450px);
}

.resizeMenu div {
    margin: 5px;
}

.rowIcon,
.colIcon {
    width: 50px;
    height: 50px;
    margin-left: 8px;
}

.openResizeMenu,
.resizeMenuIcon,
.locked {
    width: 35px;
    height: 35px;
}

.resizeMenu .locked {
    margin-left: 16px;
}

/* make play/pause button "pop" upon clicking */
.openResizeMenu:active,
.locked:active {
    transform: scale(1.075);
}

.playbackMenu {
    position: absolute;
    bottom: 1vh;

    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;

    /* next two lines center */
    left: 50%;
    transform: translate(-50%, 0);


    background-color: var(--menu-background);
    border: 3px solid var(--menu-primary);
    border-radius: calc(var(--border-radius) * 2);

    box-shadow: 0px 0px 15px rgb(123, 123, 123);
}

.playbackMenu div {
    margin: 5px;
}

.play,
.pause {
    width: 50px;
    height: 50px;
}

.playbackMenu .speed {
    margin-left: 8px;
}

.speed,
.refresh {
    width: 35px;
    height: 35px;
}

div svg{
    fill: var(--menu-primary);
    margin: 0;
    width: inherit;
    height: inherit;
}

/* make play/pause button "pop" upon clicking */
.play:active,
.pause:active,
.refresh:active {
    transform: scale(1.075);
}

.refresh {
    position: relative;
    right: 4px;
}

.playbackSpeed {
    margin-right: 16px;
}

.cols {
    margin-right: 100px;
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    border-radius: calc(var(--border-radius) * 2);  
    background: var(--menu-primary);
    outline: none;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 100%; 
    background: var(--alive-color);
    border: 2px solid var(--menu-primary);
    cursor: pointer;
}
input[type='range']::-webkit-slider-thumb:active {
    transform: scale(1.075);
    box-shadow: 0px 0px 10px var(--shadow-color);
}

.grayedOut {
    filter: grayscale();
    filter: opacity(.7);
}

.inactive {
    display: none;
}